<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Char_H_Warrior_Atk_LB_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,122},{68,70}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,44},{68,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_LB_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,84},{68,70}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,50},{68,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_LB_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,58},{98,54}}</string>
                <key>offset</key>
                <string>{-33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{98,54}}</string>
                <key>sourceSize</key>
                <string>{164,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_LB_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,54}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{100,54}}</string>
                <key>sourceSize</key>
                <string>{164,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_LB_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,64},{84,56}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,64},{84,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_LB_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{88,60}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,54},{88,60}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_LB_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{68,70}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,44},{68,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_RT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{68,70}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,41},{68,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_RT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,86},{68,72}}</string>
                <key>offset</key>
                <string>{28,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,38},{68,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_RT_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{98,82}}</string>
                <key>offset</key>
                <string>{33,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,28},{98,82}}</string>
                <key>sourceSize</key>
                <string>{164,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_RT_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,82}}</string>
                <key>offset</key>
                <string>{32,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{100,82}}</string>
                <key>sourceSize</key>
                <string>{164,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_RT_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{84,80}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,31},{84,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_RT_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{88,68}}</string>
                <key>offset</key>
                <string>{30,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,43},{88,68}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Char_H_Warrior_Atk_RT_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{68,70}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,41},{68,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Human_Warrior.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdc25d94a492c87619a58c3674c94478:f94600a87218f9be88f2757e58f3f183:f5ac32670af43b50d859f323011a46c9$</string>
            <key>textureFileName</key>
            <string>Human_Warrior.pvr.ccz</string>
        </dict>
    </dict>
</plist>
